@page
@model MoneyBankers.Pages.Payment.IndexModel
@using Microsoft.AspNetCore.Identity
@using MoneyBankers.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form>
    <div class="form-group">
        Search by Name: <input asp-for="SearchString" size="60" />
        <input type="submit" value="Search" asp-page-handler="Test" />
        <p>
            <span asp-validation-for="SearchString" class="text-danger"></span>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].Sender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].PaymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].Receiver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Payment)
        {
            if (item.Sender == UserManager.GetUserName(User))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Receiver)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        <a asp-page="./Details" asp-route-id="@item.ID">Details</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
